<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.eli.factorybean.HelloWorld" />

    <bean id="person" class="com.eli.factorybean.Person">
        <property name="address" ref="address"/>
    </bean>

    <bean id="address" class="com.eli.factorybean.StaticAddressFactory" factory-method="getInstance"/>
</beans>