<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.eli.factorybean.HelloWorld" />

    <bean id="person" class="com.eli.factorybean.Person">
        <property name="address" ref="address"/>
        <property name="creditId" ref="creditId"/>
        <property name="birthday" ref="birthday"/>
    </bean>

    <!--使用静态工厂方法返回bean-->
    <bean id="address" class="com.eli.factorybean.StaticAddressFactory" factory-method="getInstance"/>
    <!--使用非静态工厂方法返回bean-->
    <bean id="creditIdFactory" class="com.eli.factorybean.NonStaticCreditIdFactory"/>
    <bean id="creditId" factory-bean="creditIdFactory" factory-method="getInstance"/>
    <!--通过实现FactoryBean接口返回bean-->
    <bean id="birthday" class="com.eli.factorybean.BirthdayFactoryBean"/>

</beans>